<html>
    <head>
        <title>web_cam</title>
    </head>
    
    <body>
		<div>
			<div id="div_left" style="float:left; width:80%; height:100%;">
			    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Real-time camera</h2>
				<img src="{{ url_for('camera') }}" style="margin-left:5%;">
			</div>
			<div id="div_right" style="float:right; width:20%">
                <h2>Real-time status</h2>
                <img src="{{ url_for('orientation') }}" style="width:80%">
                <br><br><br>
                <img src="{{ url_for('compass') }}" style="width:80%">
                <br><br><br>
                <img src="{{ url_for('text') }}" style="width:80%">
            </div>
		</div>
    </body>
</html>
